<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Favorite Universities</h1>
    {% if favorites %}
    <div>
        <ul>
            {% for fav in favorites %}
            <li>
                {{ fav.univerity.name }} - {{fav.university.country}
                <a href="{{fav.university.website}}" target="blank">Visit website</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>You haven't added any Universities to you favoites</p>
    {% endif %}
</body>
</html>