<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>University Finder</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>
  <body class="home-page">
    <header class="home-header">
      <h1 class="top">University Finder</h1>

      <div class="navbar">
        <nav>
          <ul>
          {% if current_user.is_authenticated %}
            <li><a href=" {{url_for('logout')}} ">Logout</a></li>
          {% else %}
            <li><a href=" {{url_for('about')}} ">About</a></li>
            <li><a href=" {{url_for('register')}} ">Register</a></li>
            <li><a href=" {{url_for('login')}} ">Logout</a></li>
          {% endif %}
          </ul>
        </nav>
      </div>
      <p>Search for your preferred university</p>
    </header>
    <main>
      <section class="search-section">
        <form action="{{ url_for('search') }}" method="post">
          <p>
            <label for="country">country</label>
            <input
              type="text"
              name="country"
              placeholder="Enter country name"
              autocomplete="on"
              required
              autofocus
            />
          </p>
          <p>
            <button type="submit">Search</button>
            <button type="reset">Reset</button>
          </p>
        </form>
      </section>
    </main>
    <footer>
      <p>Made by Justus Isaac | &copy; 2025</p>
    </footer>
  </body>
</html>
