<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css')}}"
    >
  </head>
  <body class="login-page">
    <main>
      <div class="login-flash-message">
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages%}
        <div class="flash-message">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      <form class="login-form-container" method="POST" action="{{ url_for('login') }}">>
        <fieldset>
          <legend>Login Please</legend>
          {{ form.hidden_tag() }}

          <div class="login-form-group">
            {{ form.login.label }} {% if form.login.errors%} {{
            form.login }}
            <div>
              {% for error in form.login.errors %}
              <span class="login-error"> {{ error }} </span>
              {% endfor %}
            </div>
            {% else %} {{ form.login }} {% endif %}
          </div>

          <div class="login-form-group">
            {{ form.password.label }} {% if form.password.errors%} {{
            form.password }}
            <div>
              {% for error in form.password.errors %}
              <span class="login-error"> {{ error }} </span>
              {% endfor %}
            </div>
            {% else %} {{ form.password }} {% endif %}
          </div>

          <div class="login-checkbox-group"> {{ form.remember.label }} {{ form.remember }}</div>

          <div  class="login-submit-group">{{ form.submit }}</div>
        </fieldset>
      </form>
      <div class="login-redirect">
        <small>
          Don't have an account?
          <a class="texts" href="{{ url_for('register') }}">Sign up</a>
        </small>
      </div>
    </main>
  </body>
</html>
